@charset "UTF-8";

ul, ol {
    padding: 0;
    margin: 0;
}
li {
    list-style: none;
}
.datecontainer {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    width: 400px;
    height: 200px;
    margin: 80px auto;
    border: 1px solid black;
    border-radius: 3px;
}
.datecontainerdate {
    display: flex;
    justify-content: center;
    width: 403px;
    flex-direction: column;
}
.datecontainerdate > label {
    width: 400px;
    display: flex;
    justify-content: space-around;
    margin: 3px;
}
.maincontainer {
    border: 1px solid black;
    border-radius: 3px;
    width: 400px;
    height: 368px;
    margin: 20px auto;
}
.maincontainer > ul {
    margin: 40px;
}

.container {
    margin: 0 auto;
    
    
}

.container h2 {
    margin: 0 auto;
}
.prog {
    width: 300px;
    background: rgb(189, 177, 177);
    margin: 0 auto;
}
.progs {
    width: 10%;
    height: 50px;
    background: rgb(225, 149, 240);
    color:#fff;
    text-align: center;
    line-height: 50px;
}


